In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel(r'data.xlsx')

In [4]:
df.shape

(3998, 39)

In [5]:
df.head()

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [6]:
df.columns

Index(['Unnamed: 0', 'ID', 'Salary', 'DOJ', 'DOL', 'Designation', 'JobCity',
       'Gender', 'DOB', '10percentage', '10board', '12graduation',
       '12percentage', '12board', 'CollegeID', 'CollegeTier', 'Degree',
       'Specialization', 'collegeGPA', 'CollegeCityID', 'CollegeCityTier',
       'CollegeState', 'GraduationYear', 'English', 'Logical', 'Quant',
       'Domain', 'ComputerProgramming', 'ElectronicsAndSemicon',
       'ComputerScience', 'MechanicalEngg', 'ElectricalEngg', 'TelecomEngg',
       'CivilEngg', 'conscientiousness', 'agreeableness', 'extraversion',
       'nueroticism', 'openess_to_experience'],
      dtype='object')

In [7]:
df['ID'].nunique()

3998

In [8]:
df['CollegeCityID'].nunique()

1350

In [9]:
df['CollegeID'].nunique()

1350

#### Comment

* unnamed:0, collegeID, collegeCityID are not needed for our analysis. Hence dropping them

In [11]:
df_copy = df.copy()

In [12]:
print(id(df))

2245705266896

In [13]:
print(id(df_copy))

2245662336336

In [14]:
df_copy.drop(columns = ['Unnamed: 0','CollegeID','CollegeCityID'], inplace = True)

In [15]:
df_copy.shape

(3998, 36)

In [16]:
df_copy.head()

,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,cbse,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,cbse,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,cbse,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

#### Comment
* ID column is also not necessary, hence dropping it as well.

In [18]:
df_copy.drop(columns = 'ID', inplace = True)

In [19]:
df_copy.shape

(3998, 35)

In [20]:
df_copy.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,cbse,2008,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

#### Checking for duplicate values

In [22]:
df_copy.duplicated().sum()

0

#### Comment
* there are no duplicate rows in the dataset.

#### Checking for null values

In [25]:
df_copy.isnull().sum()

Salary                   0
DOJ                      0
DOL                      0
Designation              0
JobCity                  0
Gender                   0
DOB                      0
10percentage             0
10board                  0
12graduation             0
12percentage             0
12board                  0
CollegeTier              0
Degree                   0
Specialization           0
collegeGPA               0
CollegeCityTier          0
CollegeState             0
GraduationYear           0
English                  0
Logical                  0
Quant                    0
Domain                   0
ComputerProgramming      0
ElectronicsAndSemicon    0
ComputerScience          0
MechanicalEngg           0
ElectricalEngg           0
TelecomEngg              0
CivilEngg                0
conscientiousness        0
agreeableness            0
extraversion             0
nueroticism              0
openess_to_experience    0
dtype: int64

#### Comment

* there are no null values in the data

In [27]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3998 non-null   int64
 1   DOJ                    3998 non-null   datetime64[ns]
 2   DOL                    3998 non-null   object
 3   Designation            3998 non-null   object
 4   JobCity                3998 non-null   object
 5   Gender                 3998 non-null   object
 6   DOB                    3998 non-null   datetime64[ns]
 7   10percentage           3998 non-null   float64
 8   10board                3998 non-null   object
 9   12graduation           3998 non-null   int64
 10  12percentage           3998 non-null   float64
 11  12board                3998 non-null   object
 12  CollegeTier            3998 non-null   int64
 13  Degree                 3998 non-null   object
 14  Specialization         3998 non-null   object
 15  collegeGPA             3998 non-null   float64
 16  CollegeCityTier        3998 non-null   int64
 17  CollegeState           3998 non-null   object
 18  GraduationYear         3998 non-null   int64
 19  English                3998 non-null   int64
 20  Logical                3998 non-null   int64
 21  Quant                  3998 non-null   int64
 22  Domain                 3998 non-null   float64
 23  ComputerProgramming    3998 non-null   int64
 24  ElectronicsAndSemicon  3998 non-null   int64
 25  ComputerScience        3998 non-null   int64
 26  MechanicalEngg         3998 non-null   int64
 27  ElectricalEngg         3998 non-null   int64
 28  TelecomEngg            3998 non-null   int64
 29  CivilEngg              3998 non-null   int64
 30  conscientiousness      3998 non-null   float64
 31  agreeableness          3998 non-null   float64
 32  extraversion           3998 non-null   float64
 33  nueroticism            3998 non-null   float64
 34  openess_to_experience  3998 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(15), object(9)
memory usage: 1.1+ MB

#### Changing the datatype of Date of leaving (DOL) column

In [29]:
df_copy.head()['DOL']

0                present
1                present
2                present
3                present
4    2015-03-01 00:00:00
Name: DOL, dtype: object

#### Comment

* changing the value present to today's date so that it is easy to analyze later.

In [31]:
today_date = pd.to_datetime('today').normalize()

In [32]:
today_date

Timestamp('2025-03-06 00:00:00')

In [33]:
df_copy['DOL'].replace('present', today_date)

0      2025-03-06
1      2025-03-06
2      2025-03-06
3      2025-03-06
4      2015-03-01
          ...
3993   2012-10-01
3994   2013-07-01
3995   2025-03-06
3996   2015-01-01
3997   2025-03-06
Name: DOL, Length: 3998, dtype: datetime64[ns]

In [34]:
df_copy['DOL'] = df_copy['DOL'].replace('present', today_date)

In [35]:
df_copy['DOL'].head()

0   2025-03-06
1   2025-03-06
2   2025-03-06
3   2025-03-06
4   2015-03-01
Name: DOL, dtype: datetime64[ns]

In [36]:
df_copy['DOL'] = pd.to_datetime(df_copy['DOL'])

In [37]:
df_copy['DOL'].dtype

dtype('<M8[ns]')

In [38]:
pd.Timestamp.now()

Timestamp('2025-03-06 07:21:16.481710')

#### Date of joining should be before date of leaving --- checking if there are any violations

In [40]:
df_copy [ df_copy['DOJ'] > df_copy['DOL'] ]

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
29,220000,2014-11-01,2014-04-01,java software engineer,Gurgaon,m,1992-06-11,64.00,cbse,2010,...,376,-1,-1,-1,-1,-3.1994,-1.8393,0.0552,0.06230,-0.7615
92,1500000,2014-11-01,2014-07-01,application developer,Hyderabad,m,1992-01-04,79.00,state board,2009,...,346,-1,-1,-1,-1,0.4155,0.5454,0.9322,-0.61470,0.8637
148,105000,2014-11-01,2014-02-01,web developer,Hyderabad,m,1991-11-03,73.08,state board,2009,...,-1,-1,-1,-1,-1,-0.7335,-0.9531,0.6248,0.27270,-1.8189
235,120000,2013-10-01,2013-07-01,web developer,Noida,f,1990-08-05,74.00,state board,2007,...,-1,-1,-1,-1,-1,-0.5719,0.1888,0.2366,0.29730,-0.2875
264,325000,2014-12-01,2014-09-01,systems engineer,Mysore,f,1992-09-16,85.28,state board,2010,...,-1,-1,-1,-1,-1,0.5591,-0.2871,0.0100,0.65300,-4.5015
451,170000,2014-12-01,2014-03-01,data analyst,hyderabad,m,1992-02-26,86.80,state board,2009,...,-1,-1,-1,-1,-1,0.5591,-0.1206,1.0859,-0.86820,0.0973
591,240000,2014-10-01,2014-08-01,business development manager,Noida,f,1995-01-10,60.00,state board,2010,...,-1,-1,-1,-1,-1,1.2772,-1.1196,0.0100,0.90660,0.4805
865,200000,2014-12-01,2014-04-01,qa analyst,Hyderabad,m,1992-11-06,92.83,state board,2010,...,-1,-1,-1,-1,-1,1.8517,1.0449,1.8543,-2.13600,1.0554
888,110000,2014-10-01,2014-02-01,software engineer,Pune,m,1991-01-16,66.46,state board,2009,...,469,-1,-1,-1,-1,1.5644,-0.1206,0.0100,0.52620,0.6721
1005,180000,2014-11-01,2014-06-01,staffing recruiter,Noida,m,1992-08-20,79.00,icse,2010,...,-1,-1,-1,-1,-1,-2.0262,0.3789,-1.2196,0.39950,0.6721
1355,150000,2014-12-01,2014-04-01,process executive,Pune,f,1991-01-16,63.00,icse,2009,...,-1,-1,-1,-1,-1,-2.6007,1.0449,0.1637,0.39950,-0.4776
1433,60000,2014-12-01,2014-06-01,.net web developer,-1,m,1990-11-24,59.00,state board,2008,...,346,-1,-1,-1,-1,-0.3027,-0.6201,0.1637,0.77980,-0.2859
1482,190000,2014-12-01,2014-02-01,software engineer trainee,-1,m,1989-08-02,73.83,rbse,2008,...,438,-1,-1,-1,-1,1.5644,1.0449,0.4711,0.77980,1.2470
1522,105000,2014-10-01,2014-05-01,android developer,-1,m,1988-11-29,63.00,icse,2008,...,407,-1,-1,-1,-1,-0.1590,0.3789,0.4711,1.41360,-0.2859
1541,125000,2014-11-01,2014-07-01,sales executive,india,f,1993-05-04,62.00,cbse,2010,...,-1,-1,-1,-1,-1,-0.0154,-0.1206,-0.4511,-0.86820,0.0973
1591,120000,2013-11-01,2013-06-01,software developer,-1,m,1991-04-14,83.80,cbse,2009,...,-1,-1,-1,-1,-1,-0.1590,1.2114,1.2396,-0.61470,1.6302
1636,315000,2014-10-01,2014-06-01,system engineer,-1,m,1992-01-16,94.20,cbse,2009,...,-1,-1,553,-1,-1,0.4155,0.3789,-0.6048,-0.74150,0.2889
1992,300000,2013-12-01,2013-04-01,java software engineer,Hyderabad,m,1991-10-20,89.00,state board,2009,...,-1,-1,-1,-1,-1,0.5591,1.3779,0.6248,-0.74150,-0.2859
2044,190000,2013-11-01,2013-06-01,technical support engineer,Chennai,m,1990-11-02,83.00,state board,2009,...,-1,-1,-1,313,-1,-0.1590,0.8784,0.7785,0.14590,1.2470
2266,105000,2013-10-01,2013-07-01,electrical project engineer,Lucknow,f,1990-07-16,77.40,cbse,2008,...,-1,-1,473,-1,-1,0.1282,-0.2871,1.2396,-0.36120,-0.8608
2319,140000,2013-10-01,2013-04-01,software engineer,Gurgaon,f,1990-08-11,78.80,cbse,2008,...,-1,-1,-1,-1,-1,0.4155,0.0459,-0.7585,2.04750,0.2889
2349,75000,2014-11-01,2014-06-01,android developer,-1,m,1990-04-07,74.16,state board,2008,...,438,-1,-1,-1,-1,1.2772,0.2124,0.3174,-1.37530,0.6721
2407,210000,2013-12-01,2013-08-01,application developer,Chennai,m,1992-02-14,89.39,state board,2009,...,-1,-1,446,-1,-1,-0.7335,0.2124,0.0100,-0.36120,0.2889
2414,220000,2013-11-01,2013-07-01,technical support engineer,Noida,m,1992-07-01,85.00,cbse,2009,...,-1,-1,-1,-1,-1,1.7081,1.5444,0.9322,-2.26270,0.6721
2805,240000,2014-10-01,2014-04-01,senior software engineer,Noida,m,1992-05-04,78.80,cbse,2009,...,284,-1,-1,-1,-1,-1.0208,-0.4536,-0.4511,-0.36120,1.2470
2889,240000,2014-12-01,2014-05-01,test engineer,-1,m,1991-08-11,71.00,state board,2009,...,-1,-1,-1,-1,-1,-0.3027,0.7119,0.0100,-0.99500,-0.4776
2946,120000,2014-12-01,2014-08-01,service engineer,Bangalore,m,1993-05-03,75.00,state board,2010,...,-1,-1,420,-1,-1,-0.5116,-1.6191,-0.7585,-0.10760,-0.2511
2977,120000,2013-12-01,2013-05-01,technical support engineer,Noida,m,1989-08-17,58.33,up,2007,...,438,-1,-1,-1,-1,0.8192,0.5008,0.2366,-0.05527,0.6603
3094,900000,2014-12-01,2014-04-01,automation engineer,Delhi,m,1988-12-16,83.67,cbse,2006,...,-1,-1,-1,-1,-1,-0.2628,0.8128,1.3977,1.00240,1.1343
3095,100000,2012-10-01,2012-09-01,financial analyst,Pune,f,1991-09-30,82.60,cbse,2008,...,-1,-1,-1,-1,-1,0.9900,-0.6201,0.3174,1.54040,-0.8608
3109,310000,2014-11-01,2014-06-01,system engineer,Mysore,m,1992-01-09,69.00,cbse,2010,...,-1,-1,356,-1,-1,1.1336,1.0449,0.7785,-2.38950,-0.2859
3243,300000,2013-10-01,2013-08-01,business analyst,Gurgaon,m,1992-04-27,81.50,cbse,2009,...,-1,-1,-1,393,-1,-0.0154,0.8784,1.3933,0.39950,0.6721
3304,145000,2013-11-01,2013-06-01,sales engineer,Gurgaon,m,1991-08-21,66.50,state board,2008,...,-1,-1,-1,-1,-1,-0.5719,0.8351,0.2477,-0.64280,-0.4455
3384,120000,2014-10-01,2014-06-01,software developer,-1,m,1991-11-11,76.00,cbse,2009,...,192,-1,-1,-1,-1,-0.5899,-1.4526,2.0080,2.68140,1.2470
3391,270000,2014-10-01,2014-06-01,risk investigator,-1,m,1992-12-27,82.00,state board,2010,...,-1,-1,-1,-1,-1,1.4208,1.2114,0.3174,-0.99500,0.4805
3470,200000,2014-11-01,2014-07-01,sales coordinator,-1,m,1992-04-04,79.60,cbse,2010,...,-1,-1,-1,-1,-1,0.1282,1.3779,0.3174,0.27270,-0.2859
3593,200000,2014-11-01,2014-08-01,field business development associate,-1,m,1992-12-02,70.00,cbse,2010,...,-1,-1,-1,-1,-1,1.1336,1.5444,0.9322,-2.26270,0.4805
3634,165000,2014-12-01,2014-02-01,network engineer,Ahmedabad,m,1991-12-08,91.00,rajasthan board of secondary education,2008,...,-1,-1,-1,-1,-1,1.1283,0.6568,-0.3440,-0.76030,-0.4455
3700,95000,2014-10-01,2014-08-01,ios developer,-1,m,1992-09-04,60.20,cbse,2010,...,284,-1,-1,-1,-1,1.1283,0.9688,0.9623,0.41483,0.0679
3911,180000,2013-11-01,2013-05-01,quality analyst,Ongole,m,1992-03-30,64.00,state board,2008,...,-1,-1,-1,-1,-1,1.2772,1.0449,-0.1437,-1.37530,1.0554

In [41]:
df.loc[3911,['DOJ', 'DOL']]

DOJ    2013-11-01 00:00:00
DOL    2013-05-01 00:00:00
Name: 3911, dtype: object

#### Comment
* there are 40 rows with this issue, where date of leaving is earlier than date of joining.
* one of the reasons can be they might have given DOL in the place of DOJ.
* another might be they gave month and day in the wrong place.


* Asssuming that they gave DOL in the place of DOJ....just reversing them...so that there is no data loss

In [43]:
index_for_swap = df_copy [ df_copy['DOJ'] > df_copy['DOL'] ].index

In [44]:
index_for_swap

Index([  29,   92,  148,  235,  264,  451,  591,  865,  888, 1005, 1355, 1433,
       1482, 1522, 1541, 1591, 1636, 1992, 2044, 2266, 2319, 2349, 2407, 2414,
       2805, 2889, 2946, 2977, 3094, 3095, 3109, 3243, 3304, 3384, 3391, 3470,
       3593, 3634, 3700, 3911],
      dtype='int64')

In [45]:
df_copy.loc[index_for_swap, ['DOJ', 'DOL']].head()

           DOJ        DOL
29  2014-11-01 2014-04-01
92  2014-11-01 2014-07-01
148 2014-11-01 2014-02-01
235 2013-10-01 2013-07-01
264 2014-12-01 2014-09-01

In [46]:
df_copy.loc[index_for_swap, ['DOJ', 'DOL']].head().values

array([['2014-11-01T00:00:00.000000000', '2014-04-01T00:00:00.000000000'],
       ['2014-11-01T00:00:00.000000000', '2014-07-01T00:00:00.000000000'],
       ['2014-11-01T00:00:00.000000000', '2014-02-01T00:00:00.000000000'],
       ['2013-10-01T00:00:00.000000000', '2013-07-01T00:00:00.000000000'],
       ['2014-12-01T00:00:00.000000000', '2014-09-01T00:00:00.000000000']],
      dtype='datetime64[ns]')

In [47]:
df_copy.loc[index_for_swap, ['DOJ', 'DOL']] = df_copy.loc[index_for_swap, ['DOL', 'DOJ']].values

In [48]:
df_copy.loc[index_for_swap, ['DOJ', 'DOL']].head()

           DOJ        DOL
29  2014-04-01 2014-11-01
92  2014-07-01 2014-11-01
148 2014-02-01 2014-11-01
235 2013-07-01 2013-10-01
264 2014-09-01 2014-12-01

#### Checking if the date of birth is in correct format or not

In [50]:
df_copy[ df_copy['DOB'].dt.year > 1998]

Empty DataFrame
Columns: [Salary, DOJ, DOL, Designation, JobCity, Gender, DOB, 10percentage, 10board, 12graduation, 12percentage, 12board, CollegeTier, Degree, Specialization, collegeGPA, CollegeCityTier, CollegeState, GraduationYear, English, Logical, Quant, Domain, ComputerProgramming, ElectronicsAndSemicon, ComputerScience, MechanicalEngg, ElectricalEngg, TelecomEngg, CivilEngg, conscientiousness, agreeableness, extraversion, nueroticism, openess_to_experience]
Index: []

[0 rows x 35 columns]

#### comment

* the DOB is in correct format

In [52]:
df_copy.columns

Index(['Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeTier', 'Degree', 'Specialization', 'collegeGPA',
       'CollegeCityTier', 'CollegeState', 'GraduationYear', 'English',
       'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'MechanicalEngg',
       'ElectricalEngg', 'TelecomEngg', 'CivilEngg', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

#### checking if collegeGPA is in correct format

In [54]:
#let's look at min and max values to know about the distribution

df_copy['collegeGPA'].min()

6.45

In [55]:
df_copy['collegeGPA'].max()

99.93

In [56]:
df_copy['collegeGPA'].sort_values().head(10)

3308    6.45
138     6.63
788     6.80
1419    6.85
2151    6.95
1767    7.56
1439    8.07
2229    8.13
7       8.58
2662    8.88
Name: collegeGPA, dtype: float64

#### Comment

* In collegeGPA column few candidates mentioned CGPA and most of the candidates gave percentage, hence converting those values into percentages

In [58]:
df_copy[ df_copy ['collegeGPA'] <= 10]

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
7,400000,2014-07-01,2015-07-01,mechanical engineer,Bangalore,m,1992-05-27,92.00,cbse,2010,...,-1,469,-1,-1,-1,-0.0154,1.2114,0.0100,0.1459,1.2470
138,195000,2014-10-01,2015-01-01,business development managerde,coimbatore,m,1991-05-04,79.60,matriculation,2011,...,284,-1,-1,-1,-1,0.8463,0.7119,0.4711,1.1601,0.4805
788,180000,2012-05-01,2013-06-01,electrical project engineer,Jowai,m,1989-01-12,66.50,cbse,2007,...,-1,-1,-1,-1,-1,0.5100,-0.2793,-1.0697,0.1798,-1.0774
1419,180000,2014-10-01,2015-04-01,java software engineer,Chennai,m,1993-06-14,58.90,state board,2010,...,376,-1,-1,-1,-1,1.8517,0.2124,0.6248,-1.7556,-0.4776
1439,360000,2011-08-01,2025-03-06,assistant professor,AM,m,1988-12-11,73.06,nagpur board,2007,...,-1,473,-1,-1,260,-2.7357,-2.3073,-0.7794,0.4148,-1.5513
1767,180000,2014-06-01,2014-08-01,it technician,Bhopal,m,1992-09-21,69.00,state board,2010,...,-1,446,-1,-1,-1,1.9953,-0.9531,-1.6807,-0.8682,-0.8608
2151,145000,2012-02-01,2013-04-01,web developer,New Delhi,m,1988-06-18,61.30,up board,2005,...,-1,-1,-1,-1,-1,-1.0355,0.6568,0.9623,1.4724,0.8183
2229,240000,2015-01-01,2015-04-01,product development engineer,Chennai,m,1992-05-01,94.40,state board,2010,...,-1,376,-1,-1,-1,0.4155,-0.6201,0.0100,-0.6147,-0.4776
2293,490000,2012-10-01,2014-12-01,software engineer,-1,f,1990-03-18,89.60,karnataka board,2008,...,-1,-1,-1,-1,-1,1.1283,1.4368,-0.7068,-1.7004,0.1864
2662,470000,2011-07-01,2015-03-01,systems engineer,Kolkata,m,1990-02-15,77.38,west bengal board of secondary examination (wb...,2007,...,-1,-1,-1,-1,-1,-0.4173,-1.6833,0.5269,-1.7004,-0.9194
2691,820000,2014-07-01,2015-03-01,software engineer,New Delhi,m,1990-10-28,81.20,cbse,2007,...,-1,-1,-1,-1,-1,-0.8810,-0.0842,-0.4891,-0.0552,-0.2875
3308,250000,2011-08-01,2012-11-01,engineer,Aurangabad,m,1985-06-07,63.20,cbse,2003,...,-1,-1,-1,420,-1,-1.3447,1.1248,0.6720,1.5899,-0.2875

In [59]:
index_incorrect_collegeGPA = df_copy[ df_copy ['collegeGPA'] <= 10].index

In [60]:
index_incorrect_collegeGPA

Index([7, 138, 788, 1419, 1439, 1767, 2151, 2229, 2293, 2662, 2691, 3308], dtype='int64')

In [61]:
df_copy.loc[index_incorrect_collegeGPA, 'collegeGPA'].values * 10

array([85.8, 66.3, 68. , 68.5, 80.7, 75.6, 69.5, 81.3, 93. , 88.8, 88.9,
       64.5])

In [62]:
df_copy.loc[index_incorrect_collegeGPA, 'collegeGPA'] = df_copy.loc[index_incorrect_collegeGPA, 'collegeGPA'].values * 10

In [63]:
df_copy.loc[index_incorrect_collegeGPA, 'collegeGPA']

7       85.8
138     66.3
788     68.0
1419    68.5
1439    80.7
1767    75.6
2151    69.5
2229    81.3
2293    93.0
2662    88.8
2691    88.9
3308    64.5
Name: collegeGPA, dtype: float64

In [64]:
df_copy['collegeGPA'].min()

49.07

In [65]:
df_copy['collegeGPA'].max()

99.93

#### Comment

* since the values are percentages, renaming the column into **collegePercent**

In [67]:
df_copy.rename(columns = {'collegeGPA': 'collegePercent'}, inplace = True)

In [68]:
df_copy.columns

Index(['Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeTier', 'Degree', 'Specialization', 'collegePercent',
       'CollegeCityTier', 'CollegeState', 'GraduationYear', 'English',
       'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'MechanicalEngg',
       'ElectricalEngg', 'TelecomEngg', 'CivilEngg', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

In [69]:
df_copy.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,2012-06-01,2025-03-06,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000,2013-09-01,2025-03-06,assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000,2014-06-01,2025-03-06,systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,2011-07-01,2025-03-06,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000,2014-03-01,2015-03-01,get,Manesar,m,1991-02-27,78.0,cbse,2008,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

#### Comment

* we can see that there are -1 values in the scores columns that are related to amcat
* These '-1' values are nothing but null values, hence relplacing them wit **nan**

In [71]:
(df_copy == -1).sum()

Salary                      0
DOJ                         0
DOL                         0
Designation                 0
JobCity                   461
Gender                      0
DOB                         0
10percentage                0
10board                     0
12graduation                0
12percentage                0
12board                     0
CollegeTier                 0
Degree                      0
Specialization              0
collegePercent              0
CollegeCityTier             0
CollegeState                0
GraduationYear              0
English                     0
Logical                     0
Quant                       0
Domain                    246
ComputerProgramming       868
ElectronicsAndSemicon    2854
ComputerScience          3096
MechanicalEngg           3763
ElectricalEngg           3837
TelecomEngg              3624
CivilEngg                3956
conscientiousness           0
agreeableness               0
extraversion                0
nueroticism                 0
openess_to_experience       0
dtype: int64

In [72]:
(df_copy == -1).sum()[(df_copy == -1).sum() > 0]

JobCity                   461
Domain                    246
ComputerProgramming       868
ElectronicsAndSemicon    2854
ComputerScience          3096
MechanicalEngg           3763
ElectricalEngg           3837
TelecomEngg              3624
CivilEngg                3956
dtype: int64

In [73]:
(df_copy == -1).sum()[(df_copy == -1).sum() > 0] / df_copy.shape[0]

JobCity                  0.115308
Domain                   0.061531
ComputerProgramming      0.217109
ElectronicsAndSemicon    0.713857
ComputerScience          0.774387
MechanicalEngg           0.941221
ElectricalEngg           0.959730
TelecomEngg              0.906453
CivilEngg                0.989495
dtype: float64

#### Comment

* we can see that there are columns with more than 90% missing values, hence dropping them.

In [75]:
df_copy.drop(columns = ['MechanicalEngg', 'ElectricalEngg', 'TelecomEngg', 'CivilEngg'], inplace = True)

In [76]:
df_copy.columns

Index(['Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeTier', 'Degree', 'Specialization', 'collegePercent',
       'CollegeCityTier', 'CollegeState', 'GraduationYear', 'English',
       'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

In [77]:
df_copy.shape

(3998, 31)

#### Now replacing '-1' with nan

In [79]:
df_copy.replace(-1, np.nan, inplace = True)

In [80]:
df_copy [ df_copy['JobCity'] == -1]

Empty DataFrame
Columns: [Salary, DOJ, DOL, Designation, JobCity, Gender, DOB, 10percentage, 10board, 12graduation, 12percentage, 12board, CollegeTier, Degree, Specialization, collegePercent, CollegeCityTier, CollegeState, GraduationYear, English, Logical, Quant, Domain, ComputerProgramming, ElectronicsAndSemicon, ComputerScience, conscientiousness, agreeableness, extraversion, nueroticism, openess_to_experience]
Index: []

[0 rows x 31 columns]

In [81]:
(df_copy == 0 ).sum()

Salary                      0
DOJ                         0
DOL                         0
Designation                 0
JobCity                     0
Gender                      0
DOB                         0
10percentage                0
10board                   350
12graduation                0
12percentage                0
12board                   359
CollegeTier                 0
Degree                      0
Specialization              0
collegePercent              0
CollegeCityTier          2797
CollegeState                0
GraduationYear              1
English                     0
Logical                     0
Quant                       0
Domain                      0
ComputerProgramming         0
ElectronicsAndSemicon       0
ComputerScience             0
conscientiousness           0
agreeableness               0
extraversion                0
nueroticism                 0
openess_to_experience       0
dtype: int64

In [82]:
df_copy['CollegeCityTier'].unique()

array([0, 1], dtype=int64)

#### Comment

* **1oboard**, **12board** have missing values.
* **CollegeCityTier** having **0** is valid.

In [84]:
#replacing all the missing values with nan, so that it is easy to fill later

df_copy['10board'].replace(0, np.nan, inplace = True)

In [85]:
df_copy['12board'].replace(0, np.nan, inplace = True)

In [86]:
df_copy['GraduationYear'].replace(0, np.nan, inplace = True)

#### Handling with missing values

In [88]:
df_copy.isnull().sum()

Salary                      0
DOJ                         0
DOL                         0
Designation                 0
JobCity                   461
Gender                      0
DOB                         0
10percentage                0
10board                   350
12graduation                0
12percentage                0
12board                   359
CollegeTier                 0
Degree                      0
Specialization              0
collegePercent              0
CollegeCityTier             0
CollegeState                0
GraduationYear              1
English                     0
Logical                     0
Quant                       0
Domain                    246
ComputerProgramming       868
ElectronicsAndSemicon    2854
ComputerScience          3096
conscientiousness           0
agreeableness               0
extraversion                0
nueroticism                 0
openess_to_experience       0
dtype: int64

#### Since 10th board, 12th board, and JobCity are categorical columns, filling the missing values with mode..so that there is no data loss

In [90]:
cat_missing_col = ['10board', '12board', 'JobCity']

In [91]:
df_copy['JobCity'].mode()

0    Bangalore
Name: JobCity, dtype: object

In [92]:
df_copy['JobCity'].mode().values

array(['Bangalore'], dtype=object)

In [93]:
df_copy['JobCity'].mode().values[0]

'Bangalore'

In [94]:
def filling_missing_values(columns):

    for col in columns:
        df_copy[col].fillna(df_copy[col].mode().values[0], inplace = True)

In [95]:
filling_missing_values(cat_missing_col)

In [96]:
df_copy['GraduationYear'].dtype

dtype('float64')

In [97]:
df_copy[df_copy['GraduationYear'].isnull()]

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
2664,325000,2014-07-01,2015-07-01,systems engineer,Chandigarh,m,1991-12-17,89.0,cbse,2010,...,680,0.755375,NaN,NaN,NaN,1.1336,0.3789,-0.2974,-0.3612,-1.244

#### Comment

* since 12th graduation is 2010, and he did a B.E./B.Tech course, filling the null value with 2014

In [99]:
df_copy['GraduationYear'].fillna(2014, inplace = True)

#### Comment

* The missing values in **domain**, **ComputerProgramming**, and other scores column because there are candidates from different specializations.
* Hence leaving them as it is.

In [101]:
df_copy.columns

Index(['Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeTier', 'Degree', 'Specialization', 'collegePercent',
       'CollegeCityTier', 'CollegeState', 'GraduationYear', 'English',
       'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

#### Checking if there are any spelling mistakes

In [103]:
cat_col_list = ['Designation', 'JobCity', 'Degree', 'Specialization', 'CollegeState']

In [104]:
for col in cat_col_list:

    df_copy[col] = df_copy[col].str.strip().str.capitalize()

In [105]:
df_copy['Specialization'].unique()

array(['Computer engineering',
       'Electronics and communication engineering',
       'Information technology', 'Computer science & engineering',
       'Mechanical engineering', 'Electronics and electrical engineering',
       'Electronics & telecommunications',
       'Instrumentation and control engineering', 'Computer application',
       'Electronics and computer engineering', 'Electrical engineering',
       'Applied electronics and instrumentation',
       'Electronics & instrumentation eng',
       'Information science engineering', 'Civil engineering',
       'Mechanical and automation', 'Industrial & production engineering',
       'Control and instrumentation engineering',
       'Metallurgical engineering',
       'Electronics and instrumentation engineering',
       'Electronics engineering', 'Ceramic engineering',
       'Chemical engineering', 'Aeronautical engineering', 'Other',
       'Biotechnology', 'Embedded systems technology',
       'Electrical and power engineering',
       'Computer science and technology', 'Mechatronics',
       'Automobile/automotive engineering', 'Polymer technology',
       'Mechanical & production engineering',
       'Power systems and automation', 'Instrumentation engineering',
       'Telecommunication engineering',
       'Industrial & management engineering', 'Industrial engineering',
       'Computer and communication engineering',
       'Information & communication technology', 'Information science',
       'Internal combustion engine', 'Computer networking',
       'Biomedical engineering', 'Electronics', 'Computer science'],
      dtype=object)

In [106]:
df_copy['Specialization'].nunique()

46

#### Comment

* there are 46 unique Specilaizations.
* If there are so many unique values we can not conclude anything for sure.
* Hence keeping the top 10 or most enrolled specializations and then adding the rest under **other** option that way it is easy to analyze.

In [108]:
df_copy['Specialization'].value_counts()

Specialization
Electronics and communication engineering      880
Computer science & engineering                 744
Information technology                         660
Computer engineering                           600
Computer application                           244
Mechanical engineering                         201
Electronics and electrical engineering         196
Electronics & telecommunications               121
Electrical engineering                          82
Electronics & instrumentation eng               32
Civil engineering                               29
Electronics and instrumentation engineering     27
Information science engineering                 27
Instrumentation and control engineering         20
Electronics engineering                         19
Biotechnology                                   15
Other                                           13
Industrial & production engineering             10
Applied electronics and instrumentation          9
Chemical engineering                             9
Computer science and technology                  6
Telecommunication engineering                    6
Mechanical and automation                        5
Automobile/automotive engineering                5
Instrumentation engineering                      4
Mechatronics                                     4
Aeronautical engineering                         3
Electronics and computer engineering             3
Electrical and power engineering                 2
Biomedical engineering                           2
Information & communication technology           2
Industrial engineering                           2
Computer science                                 2
Metallurgical engineering                        2
Power systems and automation                     1
Control and instrumentation engineering          1
Mechanical & production engineering              1
Embedded systems technology                      1
Polymer technology                               1
Computer and communication engineering           1
Information science                              1
Internal combustion engine                       1
Computer networking                              1
Ceramic engineering                              1
Electronics                                      1
Industrial & management engineering              1
Name: count, dtype: int64

In [109]:
df_copy[df_copy['Specialization'].str.contains('Computer|Information')]

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,2012-06-01,2025-03-06,Senior quality engineer,Bangalore,f,1990-02-19,84.30,"board ofsecondary education,ap",2007,...,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455
2,325000,2014-06-01,2025-03-06,Systems engineer,Chennai,f,1992-08-03,85.00,cbse,2010,...,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,2011-07-01,2025-03-06,Senior software engineer,Gurgaon,m,1989-12-05,85.60,cbse,2007,...,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194
6,300000,2014-08-01,2015-05-01,Java software engineer,Banglore,m,1993-02-01,86.08,state board,2010,...,380,0.356536,405.0,NaN,346.0,1.7081,-0.1054,-1.0379,-2.00920,-1.0872
10,600000,2011-04-01,2015-04-01,Senior php developer,Bangalore,m,1989-06-24,88.60,mp board bhopal,2006,...,565,0.765674,485.0,NaN,NaN,0.0464,0.8128,0.0914,0.17980,0.0284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,300000,2014-09-01,2025-03-06,Software engineer,Bangalore,m,1991-11-23,74.88,state board,2010,...,500,0.356536,465.0,NaN,346.0,0.1282,0.0459,1.2396,1.03330,0.6721
3993,280000,2011-10-01,2012-10-01,Software engineer,New delhi,m,1987-04-15,52.09,cbse,2006,...,475,0.276047,345.0,NaN,NaN,-0.1082,0.3448,0.2366,0.64980,-0.9194
3995,320000,2013-07-01,2025-03-06,Associate software engineer,Bangalore,m,1991-07-03,81.86,"bse,odisha",2008,...,465,0.488348,405.0,NaN,NaN,-1.5765,-1.5273,-1.5051,-1.31840,-0.7615
3996,200000,2014-07-01,2015-01-01,Software developer,Asifabadbanglore,f,1992-03-20,78.72,state board,2010,...,320,0.744758,445.0,NaN,438.0,-0.1590,0.0459,-0.4511,-0.36120,-0.0943
3997,400000,2013-02-01,2025-03-06,Senior systems engineer,Chennai,f,1991-02-26,70.60,cbse,2008,...,464,0.600057,435.0,NaN,NaN,-1.1128,-0.2793,-0.6343,1.32553,-0.6035

In [110]:
df_copy[df_copy['Specialization'].str.contains('Computer|Information')]['Specialization'].unique()

array(['Computer engineering', 'Information technology',
       'Computer science & engineering', 'Computer application',
       'Information science engineering',
       'Computer science and technology',
       'Computer and communication engineering',
       'Information & communication technology', 'Information science',
       'Computer networking', 'Computer science'], dtype=object)

In [111]:
df_copy['Specialization'].replace('Information science','Information science engineering', inplace = True)

In [112]:
df_copy[df_copy['Specialization'].str.contains('Computer|Information')]['Specialization'].unique()

array(['Computer engineering', 'Information technology',
       'Computer science & engineering', 'Computer application',
       'Information science engineering',
       'Computer science and technology',
       'Computer and communication engineering',
       'Information & communication technology', 'Computer networking',
       'Computer science'], dtype=object)

In [113]:
cs_index = df_copy[df_copy['Specialization'].str.contains('Computer|Information')].index

In [114]:
cs_index

Index([   0,    2,    3,    6,   10,   11,   15,   17,   18,   19,
       ...
       3982, 3984, 3985, 3986, 3988, 3989, 3993, 3995, 3996, 3997],
      dtype='int64', length=2288)

In [115]:
df_copy[ df_copy['Specialization'].str.contains('Electronics|Telecommunication', case = False) ]['Specialization'].unique()

array(['Electronics and communication engineering',
       'Electronics and electrical engineering',
       'Electronics & telecommunications',
       'Electronics and computer engineering',
       'Applied electronics and instrumentation',
       'Electronics & instrumentation eng',
       'Electronics and instrumentation engineering',
       'Electronics engineering', 'Telecommunication engineering',
       'Electronics'], dtype=object)

In [116]:
df_copy['Specialization'].replace('Electronics & instrumentation eng','Electronics and instrumentation engineering', inplace = True)

In [117]:
df_copy['Specialization'].replace('Electronics','Electronics engineering', inplace = True)

In [118]:
df_copy[ (df_copy['Specialization'].str.contains('Electronics|Telecommunication|instrumentation', case = False)) & 
(~ df_copy['Specialization'].str.contains('electrical', case = False))]['Specialization'].unique()

array(['Electronics and communication engineering',
       'Electronics & telecommunications',
       'Instrumentation and control engineering',
       'Electronics and computer engineering',
       'Applied electronics and instrumentation',
       'Electronics and instrumentation engineering',
       'Control and instrumentation engineering',
       'Electronics engineering', 'Instrumentation engineering',
       'Telecommunication engineering'], dtype=object)

In [119]:
electronics_index = df_copy[ (df_copy['Specialization'].str.contains('Electronics|Telecommunication|instrumentation', case = False)) & 
(~ df_copy['Specialization'].str.contains('electrical', case = False))].index

In [120]:
electronics_index

Index([   1,    4,    5,    9,   12,   13,   14,   16,   22,   23,
       ...
       3967, 3970, 3971, 3972, 3974, 3983, 3987, 3990, 3991, 3994],
      dtype='int64', length=1123)

In [121]:
#replacing all the specializations that have computers under computer science, and those that have electronics as electronics

df_copy.loc[cs_index,'Specialization'] = 'CS'

In [122]:
df_copy.loc[cs_index,'Specialization']

0       CS
2       CS
3       CS
6       CS
10      CS
        ..
3989    CS
3993    CS
3995    CS
3996    CS
3997    CS
Name: Specialization, Length: 2288, dtype: object

In [123]:
df_copy.loc[electronics_index,'Specialization'] = 'ECE_instrumentation'

In [124]:
df_copy.loc[electronics_index,'Specialization']

1       ECE_instrumentation
4       ECE_instrumentation
5       ECE_instrumentation
9       ECE_instrumentation
12      ECE_instrumentation
               ...
3983    ECE_instrumentation
3987    ECE_instrumentation
3990    ECE_instrumentation
3991    ECE_instrumentation
3994    ECE_instrumentation
Name: Specialization, Length: 1123, dtype: object

In [125]:
df_copy [ df_copy['Specialization'].str.contains('electrical|power', case = False)]['Specialization'].unique()

array(['Electronics and electrical engineering', 'Electrical engineering',
       'Electrical and power engineering', 'Power systems and automation'],
      dtype=object)

In [126]:
electrical_index = df_copy [ df_copy['Specialization'].str.contains('electrical|power', case = False)].index

In [127]:
electrical_index

Index([   8,   53,   70,   82,  101,  124,  125,  143,  144,  156,
       ...
       3772, 3784, 3800, 3832, 3835, 3837, 3839, 3844, 3897, 3932],
      dtype='int64', length=281)

In [128]:
df_copy.loc[electrical_index, 'Specialization'] = 'EEE'

In [129]:
df_copy.loc[electrical_index, 'Specialization']

8       EEE
53      EEE
70      EEE
82      EEE
101     EEE
       ...
3837    EEE
3839    EEE
3844    EEE
3897    EEE
3932    EEE
Name: Specialization, Length: 281, dtype: object

In [130]:
df_copy[ df_copy['Specialization'].str.contains('mech', case = False)]['Specialization'].unique()

array(['Mechanical engineering', 'Mechanical and automation',
       'Mechatronics', 'Mechanical & production engineering'],
      dtype=object)

In [131]:
mech_index = df_copy[ df_copy['Specialization'].str.contains('mech', case = False)].index

In [132]:
mech_index

Index([   7,   40,   45,   63,  123,  139,  140,  167,  191,  192,
       ...
       3793, 3823, 3836, 3845, 3849, 3909, 3916, 3929, 3951, 3980],
      dtype='int64', length=211)

In [133]:
df_copy.loc[mech_index, 'Specialization'] = 'Mechanical'

In [134]:
df_copy.loc[mech_index, 'Specialization']

7       Mechanical
40      Mechanical
45      Mechanical
63      Mechanical
123     Mechanical
           ...
3909    Mechanical
3916    Mechanical
3929    Mechanical
3951    Mechanical
3980    Mechanical
Name: Specialization, Length: 211, dtype: object

In [135]:
df_copy [ df_copy['Specialization'].str.contains('automobile', case = False)]['Specialization'].unique()

array(['Automobile/automotive engineering'], dtype=object)

In [136]:
df_copy [ df_copy['Specialization'].str.contains('automobile', case = False)].index

Index([947, 1285, 1407, 2247, 3873], dtype='int64')

In [137]:
df_copy.loc[[947, 1285, 1407, 2247, 3873],'Specialization'] = 'Mechanical'

In [138]:
df_copy[ df_copy['Specialization'].str.contains('embedded', case = False)]

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
600,200000,2008-11-01,2012-11-01,Project engineer,Thiruvananthapuram,m,1986-05-27,49.0,state board,2003,...,500,NaN,495.0,292.0,NaN,-1.1644,-1.9521,-1.0659,0.5262,-1.4356

In [139]:
df_copy.loc[600, 'Specialization'] = 'ECE_instrumentation'

In [140]:
df_copy['Specialization'].unique()

array(['CS', 'ECE_instrumentation', 'Mechanical', 'EEE',
       'Civil engineering', 'Industrial & production engineering',
       'Metallurgical engineering', 'Ceramic engineering',
       'Chemical engineering', 'Aeronautical engineering', 'Other',
       'Biotechnology', 'Polymer technology',
       'Industrial & management engineering', 'Industrial engineering',
       'Internal combustion engine', 'Biomedical engineering'],
      dtype=object)

In [141]:
df_copy['Specialization'].nunique()

17

In [142]:
df_copy.columns

Index(['Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeTier', 'Degree', 'Specialization', 'collegePercent',
       'CollegeCityTier', 'CollegeState', 'GraduationYear', 'English',
       'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

In [143]:
df_copy['JobCity'].unique()

array(['Bangalore', 'Indore', 'Chennai', 'Gurgaon', 'Manesar',
       'Hyderabad', 'Banglore', 'Noida', 'Kolkata', 'Pune', 'Mohali',
       'Jhansi', 'Delhi', 'Bhubaneswar', 'Navi mumbai', 'Mumbai',
       'New delhi', 'Mangalore', 'Rewari', 'Gaziabaad', 'Bhiwadi',
       'Mysore', 'Rajkot', 'Greater noida', 'Jaipur', 'Thane',
       'Maharajganj', 'Thiruvananthapuram', 'Punchkula', 'Bhubaneshwar',
       'Coimbatore', 'Dhanbad', 'Lucknow', 'Trivandrum', 'Gandhi nagar',
       'Una', 'Daman and diu', 'Gurgoan', 'Vsakhapttnam', 'Nagpur',
       'Bhagalpur', 'New delhi - jaisalmer', 'Ahmedabad', 'Kochi/cochin',
       'Bankura', 'Bengaluru', 'Kanpur', 'Vijayawada', 'Kochi', 'Beawar',
       'Alwar', 'Siliguri', 'Raipur', 'Bhopal', 'Faridabad', 'Jodhpur',
       'Udaipur', 'Muzaffarpur', 'Kolkata`', 'Bulandshahar', 'Haridwar',
       'Raigarh', 'Visakhapatnam', 'Jabalpur', 'Unnao', 'Aurangabad',
       'Belgaum', 'Dehradun', 'Rudrapur', 'Jamshedpur', 'Vizag', 'Nouda',
       'Dharamshala', 'Banagalore', 'Hissar', 'Ranchi', 'Madurai',
       'Gurga', 'Chandigarh', 'Australia', 'Cheyyar', 'Sonepat',
       'Ghaziabad', 'Pantnagar', 'Jagdalpur', 'Angul', 'Baroda',
       'Ariyalur', 'Jowai', 'Kochi/cochin, chennai and coimbatore',
       'Neemrana', 'Tirupathi', 'Bhubneshwar', 'Calicut', 'Gandhinagar',
       'Dubai', 'Ahmednagar', 'Nashik', 'Bellary', 'Ludhiana',
       'Muzaffarnagar', 'Gagret', 'Indirapuram, ghaziabad', 'Gwalior',
       'Chennai & mumbai', 'Rajasthan', 'Sonipat', 'Bareli', 'Hospete',
       'Miryalaguda', 'Dharuhera', 'Meerut', 'Ganjam', 'Hubli', 'Ncr',
       'Agra', 'Trichy', 'Kudankulam ,tarapur', 'Ongole', 'Sambalpur',
       'Pondicherry', 'Bundi', 'Sadulpur,rajgarh,distt-churu,rajasthan',
       'Am', 'Bikaner', 'Vadodara', 'India', 'Asansol', 'Tirunelvelli',
       'Ernakulam', 'Bilaspur', 'Chandrapur', 'Nanded', 'Dharmapuri',
       'Vandavasi', 'Rohtak', 'Patna', 'Salem', 'Nasikcity',
       'Technopark, trivandrum', 'Bharuch', 'Tornagallu', 'Jaspur',
       'Burdwan', 'Shimla', 'Gajiabaad', 'Jammu', 'Shahdol',
       'Muvattupuzha', 'Al jubail,saudi arabia', 'Kalmar, sweden',
       'Secunderabad', 'A-64,sec-64,noida', 'Ratnagiri', 'Jhajjar',
       'Gulbarga', 'Hyderabad(bhadurpally)', 'Nalagarh',
       'Jeddah saudi arabia', 'Chennai, bangalore', 'Jamnagar',
       'Tirupati', 'Gonda', 'Orissa', 'Kharagpur',
       'Navi mumbai , hyderabad', 'Joshimath', 'Bathinda', 'Johannesburg',
       'Kala amb', 'Karnal', 'London', 'Kota', 'Panchkula', 'Baddi hp',
       'Nagari', 'Mettur, tamil nadu', 'Durgapur', 'Pondi', 'Surat',
       'Kurnool', 'Kolhapur', 'Bhilai', 'Hderabad', 'Bahadurgarh',
       'Rayagada, odisha', 'Kakinada', 'Varanasi', 'Punr', 'Nellore',
       'Sahibabad', 'Howrah', 'Trichur', 'Ambala', 'Khopoli', 'Keral',
       'Roorkee', 'Allahabad', 'Delhi/ncr', 'Jalandhar', 'Vapi', 'Pilani',
       'Muzzafarpur', 'Ras al khaimah', 'Bihar', 'Singaruli', 'Pondy',
       'Phagwara', 'Guragaon', 'Baripada', 'Yamuna nagar', 'Shahibabad',
       'Sampla', 'Guwahati', 'Rourkela', 'Banaglore', 'Vellore', 'Dausa',
       'Latur (maharashtra )', 'Mainpuri', 'Dammam', 'Haldia',
       'Rae bareli', 'Patiala', 'Gorakhpur', 'New dehli', 'Ambala city',
       'Karad', 'Rajpura', 'Haryana', 'Asifabadbanglore'], dtype=object)

In [144]:
df_copy['JobCity'].nunique()

231

In [145]:
from fuzzywuzzy import process

In [146]:
df_copy['JobCity'].value_counts()

JobCity
Bangalore           1126
Noida                389
Hyderabad            368
Pune                 327
Chennai              313
                    ...
Vandavasi              1
Rohtak                 1
Una                    1
Salem                  1
Asifabadbanglore       1
Name: count, Length: 231, dtype: int64

In [147]:
def correct_spelling_errors (target_word = '', choices = [], threshold = 75):

    match, score = process.extractOne(target_word, choices)
    
    if score >= 75:

        return match

    else:
        
        return target_word

In [148]:
choices = ['Bangalore', 'Indore', 'Chennai', 'Gurgaon', 'Hyderabad', 'Noida', 'Pune',  'New Delhi', 'Bhubaneswar', 'Mumbai', 'Gaziabad', 'Mysore',
'Greater Noida', 'vishakapatnam']

In [149]:
df_copy ['JobCity' ].apply(lambda x : correct_spelling_errors(str(x), choices))

0         Bangalore
1            Indore
2           Chennai
3           Gurgaon
4       Bhubaneswar
           ...
3993      New Delhi
3994      Hyderabad
3995      Bangalore
3996      Bangalore
3997        Chennai
Name: JobCity, Length: 3998, dtype: object

In [150]:
df_copy ['JobCity' ] = df_copy ['JobCity' ].apply(lambda x : correct_spelling_errors(str(x), choices))

In [151]:
df_copy['JobCity'].value_counts().head(10)

JobCity
Bangalore    1155
Noida         391
Hyderabad     371
Pune          328
Chennai       315
New Delhi     227
Gurgaon       223
Mumbai        153
Kolkata       119
Jaipur         53
Name: count, dtype: int64

In [152]:
df_copy['JobCity'].nunique()

201

#### Comment
* since I am only interested in top 10 cities, did the necessary cleaning for those values

In [154]:
df_copy['JobCity'].value_counts().tail(10)

JobCity
Tirunelvelli                              1
Asansol                                   1
India                                     1
Bikaner                                   1
Sadulpur,rajgarh,distt-churu,rajasthan    1
Bundi                                     1
Ncr                                       1
Ganjam                                    1
Dharuhera                                 1
Haryana                                   1
Name: count, dtype: int64

In [155]:
df_copy['Degree'].unique()

array(['B.tech/b.e.', 'Mca', 'M.tech./m.e.', 'M.sc. (tech.)'],
      dtype=object)

In [156]:
df_copy.columns

Index(['Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeTier', 'Degree', 'Specialization', 'collegePercent',
       'CollegeCityTier', 'CollegeState', 'GraduationYear', 'English',
       'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

In [157]:
df_copy['CollegeState'].unique()

array(['Andhra pradesh', 'Madhya pradesh', 'Uttar pradesh', 'Delhi',
       'Karnataka', 'Tamil nadu', 'West bengal', 'Maharashtra', 'Haryana',
       'Telangana', 'Orissa', 'Punjab', 'Kerala', 'Gujarat', 'Rajasthan',
       'Chhattisgarh', 'Uttarakhand', 'Jammu and kashmir', 'Jharkhand',
       'Himachal pradesh', 'Bihar', 'Assam', 'Goa', 'Sikkim',
       'Union territory', 'Meghalaya'], dtype=object)

In [158]:
df_copy['GraduationYear'].dtype

dtype('float64')

In [159]:
df_copy['GraduationYear'] = df_copy['GraduationYear'].astype('int')

In [160]:
df_copy['GraduationYear'].dtype

dtype('int32')

In [161]:
df_copy.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,2012-06-01,2025-03-06,Senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,...,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000,2013-09-01,2025-03-06,Assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,...,780,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000,2014-06-01,2025-03-06,Systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,...,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,2011-07-01,2025-03-06,Senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,...,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,200000,2014-03-01,2015-03-01,Get,Bhubaneswar,m,1991-02-27,78.0,cbse,2008,...,465,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [339]:
#calculating tenure, as in how long they worked in that position

round(((df_copy['DOL']- df_copy['DOJ']).dt.days / 365),1)

0       12.8
1       11.5
2       10.8
3       13.7
4        1.0
        ...
3993     1.0
3994     0.0
3995    11.7
3996     0.5
3997    12.1
Length: 3998, dtype: float64

In [337]:
df_copy.loc[3994, :]

Salary                                100000
DOJ                      2013-07-01 00:00:00
DOL                      2013-07-01 00:00:00
Designation                 Technical writer
JobCity                            Hyderabad
Gender                                     f
DOB                      1992-08-27 00:00:00
10percentage                            90.0
10board                          state board
12graduation                            2009
12percentage                            93.0
12board                          state board
CollegeTier                                2
Degree                           B.tech/b.e.
Specialization           ECE_instrumentation
collegePercent                          77.3
CollegeCityTier                            1
CollegeState                       Telangana
GraduationYear                          2013
English                                  415
Logical                                  410
Quant                                    535
Domain                               0.88162
ComputerProgramming                    325.0
ElectronicsAndSemicon                  420.0
ComputerScience                          NaN
conscientiousness                    -0.3027
agreeableness                         0.8784
extraversion                          0.9322
nueroticism                           0.7798
openess_to_experience                -0.0943
Name: 3994, dtype: object

In [343]:
df_copy[ df_copy['DOL'] == '2025-03-06']

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,420000,2012-06-01,2025-03-06,Senior quality engineer,Bangalore,f,1990-02-19,84.30,"board ofsecondary education,ap",2007,...,525,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455
1,500000,2013-09-01,2025-03-06,Assistant manager,Indore,m,1989-10-04,85.40,cbse,2007,...,780,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,325000,2014-06-01,2025-03-06,Systems engineer,Chennai,f,1992-08-03,85.00,cbse,2010,...,370,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721
3,1100000,2011-07-01,2025-03-06,Senior software engineer,Gurgaon,m,1989-12-05,85.60,cbse,2007,...,625,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194
5,300000,2014-06-01,2025-03-06,System engineer,Hyderabad,m,1992-07-02,89.92,state board,2010,...,620,NaN,645.0,NaN,407.0,-0.3027,-0.6201,-2.2954,-0.74150,-0.8608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,280000,2012-11-01,2025-03-06,Network engineer,New Delhi,f,1990-01-16,86.70,cbse board,2008,...,485,0.376060,NaN,300.0,NaN,-1.4992,-1.8393,-0.7794,1.47240,-2.3017
3989,300000,2014-09-01,2025-03-06,Software engineer,Bangalore,m,1991-11-23,74.88,state board,2010,...,500,0.356536,465.0,NaN,346.0,0.1282,0.0459,1.2396,1.03330,0.6721
3990,480000,2012-02-01,2025-03-06,Senior systems engineer,Hyderabad,f,1989-09-04,88.00,cbse,2007,...,605,0.824666,285.0,400.0,NaN,0.6646,0.3448,0.3817,-1.34780,0.8183
3995,320000,2013-07-01,2025-03-06,Associate software engineer,Bangalore,m,1991-07-03,81.86,"bse,odisha",2008,...,465,0.488348,405.0,NaN,NaN,-1.5765,-1.5273,-1.5051,-1.31840,-0.7615
3997,400000,2013-02-01,2025-03-06,Senior systems engineer,Chennai,f,1991-02-26,70.60,cbse,2008,...,464,0.600057,435.0,NaN,NaN,-1.1128,-0.2793,-0.6343,1.32553,-0.6035

In [345]:
index_present_DOL = df_copy[ df_copy['DOL'] == '2025-03-06'].index

In [347]:
index_present_DOL

Index([   0,    1,    2,    3,    5,    8,    9,   12,   13,   14,
       ...
       3977, 3981, 3983, 3984, 3985, 3987, 3989, 3990, 3995, 3997],
      dtype='int64', length=1875)

In [351]:
pd.to_datetime('2016-01-01').normalize()

Timestamp('2016-01-01 00:00:00')

In [355]:
df_copy.loc[index_present_DOL, 'DOL'] = pd.to_datetime('2016-01-01').normalize()

In [357]:
df_copy.loc[index_present_DOL, 'DOL']

0      2016-01-01
1      2016-01-01
2      2016-01-01
3      2016-01-01
5      2016-01-01
          ...
3987   2016-01-01
3989   2016-01-01
3990   2016-01-01
3995   2016-01-01
3997   2016-01-01
Name: DOL, Length: 1875, dtype: datetime64[ns]

In [359]:
round(((df_copy['DOL']- df_copy['DOJ']).dt.days / 365),1)

0       3.6
1       2.3
2       1.6
3       4.5
4       1.0
       ...
3993    1.0
3994    0.0
3995    2.5
3996    0.5
3997    2.9
Length: 3998, dtype: float64

In [361]:
df_copy['Tenure'] = round(((df_copy['DOL']- df_copy['DOJ']).dt.days / 365),1)

In [363]:
df_copy.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Tenure
0,420000,2012-06-01,2016-01-01,Senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,...,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455,3.6
1,500000,2013-09-01,2016-01-01,Assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,...,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637,2.3
2,325000,2014-06-01,2016-01-01,Systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,...,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721,1.6
3,1100000,2011-07-01,2016-01-01,Senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,...,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194,4.5
4,200000,2014-03-01,2015-03-01,Get,Bhubaneswar,m,1991-02-27,78.0,cbse,2008,...,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295,1.0

In [365]:
df_copy.shape

(3998, 32)

In [367]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3998 non-null   int64
 1   DOJ                    3998 non-null   datetime64[ns]
 2   DOL                    3998 non-null   datetime64[ns]
 3   Designation            3998 non-null   object
 4   JobCity                3998 non-null   object
 5   Gender                 3998 non-null   object
 6   DOB                    3998 non-null   datetime64[ns]
 7   10percentage           3998 non-null   float64
 8   10board                3998 non-null   object
 9   12graduation           3998 non-null   int64
 10  12percentage           3998 non-null   float64
 11  12board                3998 non-null   object
 12  CollegeTier            3998 non-null   int64
 13  Degree                 3998 non-null   object
 14  Specialization         3998 non-null   object
 15  collegePercent         3998 non-null   float64
 16  CollegeCityTier        3998 non-null   int64
 17  CollegeState           3998 non-null   object
 18  GraduationYear         3998 non-null   int32
 19  English                3998 non-null   int64
 20  Logical                3998 non-null   int64
 21  Quant                  3998 non-null   int64
 22  Domain                 3752 non-null   float64
 23  ComputerProgramming    3130 non-null   float64
 24  ElectronicsAndSemicon  1144 non-null   float64
 25  ComputerScience        902 non-null    float64
 26  conscientiousness      3998 non-null   float64
 27  agreeableness          3998 non-null   float64
 28  extraversion           3998 non-null   float64
 29  nueroticism            3998 non-null   float64
 30  openess_to_experience  3998 non-null   float64
 31  Tenure                 3998 non-null   float64
dtypes: datetime64[ns](3), float64(13), int32(1), int64(7), object(8)
memory usage: 984.0+ KB

In [375]:
df_copy.to_excel(r'clean_AMCAT_file_final.xlsx', index = False)

In [377]:
df_c = pd.read_excel(r'clean_AMCAT_file_final.xlsx')

In [379]:
df_c.head()

,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,...,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Tenure
0,420000,2012-06-01,2016-01-01,Senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,...,0.635979,445.0,NaN,NaN,0.9737,0.8128,0.5269,1.35490,-0.4455,3.6
1,500000,2013-09-01,2016-01-01,Assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,...,0.960603,NaN,466.0,NaN,-0.7335,0.3789,1.2396,-0.10760,0.8637,2.3
2,325000,2014-06-01,2016-01-01,Systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,...,0.450877,395.0,NaN,NaN,0.2718,1.7109,0.1637,-0.86820,0.6721,1.6
3,1100000,2011-07-01,2016-01-01,Senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,...,0.974396,615.0,NaN,NaN,0.0464,0.3448,-0.3440,-0.40780,-0.9194,4.5
4,200000,2014-03-01,2015-03-01,Get,Bhubaneswar,m,1991-02-27,78.0,cbse,2008,...,0.124502,NaN,233.0,NaN,-0.8810,-0.2793,-1.0697,0.09163,-0.1295,1.0

In [381]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Salary                 3998 non-null   int64
 1   DOJ                    3998 non-null   datetime64[ns]
 2   DOL                    3998 non-null   datetime64[ns]
 3   Designation            3998 non-null   object
 4   JobCity                3998 non-null   object
 5   Gender                 3998 non-null   object
 6   DOB                    3998 non-null   datetime64[ns]
 7   10percentage           3998 non-null   float64
 8   10board                3998 non-null   object
 9   12graduation           3998 non-null   int64
 10  12percentage           3998 non-null   float64
 11  12board                3998 non-null   object
 12  CollegeTier            3998 non-null   int64
 13  Degree                 3998 non-null   object
 14  Specialization         3998 non-null   object
 15  collegePercent         3998 non-null   float64
 16  CollegeCityTier        3998 non-null   int64
 17  CollegeState           3998 non-null   object
 18  GraduationYear         3998 non-null   int64
 19  English                3998 non-null   int64
 20  Logical                3998 non-null   int64
 21  Quant                  3998 non-null   int64
 22  Domain                 3752 non-null   float64
 23  ComputerProgramming    3130 non-null   float64
 24  ElectronicsAndSemicon  1144 non-null   float64
 25  ComputerScience        902 non-null    float64
 26  conscientiousness      3998 non-null   float64
 27  agreeableness          3998 non-null   float64
 28  extraversion           3998 non-null   float64
 29  nueroticism            3998 non-null   float64
 30  openess_to_experience  3998 non-null   float64
 31  Tenure                 3998 non-null   float64
dtypes: datetime64[ns](3), float64(13), int64(8), object(8)
memory usage: 999.6+ KB